<div class="detailsPadding mx-0 pt-5">
    <div class="row pl-4 detailsBody mx-0 detailsCenter">
        <div class="col-lg-2 col-md-2 col-sm-12"> </div>
        <div class="col-lg-4 col-md-4 col-sm-12  ">
            <div class="small-ratings pb-2 centerElement paddingSm"> 
                <i class="fa fa-star rating-color"></i>  <i class="fa fa-star rating-color"></i>  <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i>
            </div>
            <p class="centerElement paddingSm"> 
                Lorem Ipsum Generator Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!</p>
            <h3 class="mb-0 text-uppercase centerElement ">Bruce & mille</h3>
            <h6 class="text-uppercase centerElement">verment</h6>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 centerElement  paddingSm">
            <img class="detailsFirstImage imageRight "  src="https://image.freepik.com/photos-gratuite/jeune-homme-velo-marche-rue_23-2147892414.jpg" alt="">
        </div>

        <div class="quoteDiv ">
            <img class="quoteImageSize " src="https://img.icons8.com/material-rounded/800/e2e8eb/quote-left.png" alt="" />
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12"> </div>

        <div class="col-lg-4 col-md-4 col-sm-12 centerElement">
            <img class="detailsSecondImage imageLeft"   src="https://assets.newatlas.com/dims4/default/eb574fd/2147483647/strip/true/crop/884x589+58+0/resize/1200x800!/quality/90/?url=http:%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fevelo-omni-wheel-10.jpg"   alt="">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 centerElement">
            <a class="text-uppercase buttonReview">   <p> view more reviews ⇀ </p>   </a>
        </div>

        <div class="col-2"> </div>

        <app-evelo-partners></app-evelo-partners>


        <app-evelo-sliders></app-evelo-sliders>

    </div>


</div>