<div class="row   mx-0   ">

    <div class="col-lg-5 col-md-12 centerElement">
        <p class="planningNumber">01</p>
    </div>

    <div class="col-lg-7 col-md-12 d-flex align-item-center">
        <p class="palanningText text-uppercase">What are your planning to <br> use an electric bike for ?</p>
    </div>

</div>


<div class="row   mx-0 mb-5 pb-5 ">

    <div class="col-lg-2 col-md-12"></div>

    <div class="col-lg-2 col-md-6 centerElementPlanning ">
        <a class="p-5">
            <p class="d-flex justify-content-center mb-4"> <i class="fa fa-bicycle fa-3x"></i></p>
            <p class="text-uppercase">Recreation</p>
        </a>
    </div>

    <div class="col-lg-2 col-md-6 centerElementPlanning ">
        <a class="p-5">
            <p class="d-flex justify-content-center mb-4">
                <i class="fa fa-briefcase fa-3x"></i>
            </p>
            <p class="text-uppercase">Commuting</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-6 centerElementPlanning ">
        <a class="p-5">
            <p class="d-flex justify-content-center mb-4"><i class="fa fa-calendar fa-3x"></i></p>
            <p class="text-uppercase">exercise</p>
        </a>
    </div>

    <div class="col-lg-2 col-md-6 centerElementPlanning ">
        <a class="p-5 ">
            <p class="d-flex justify-content-center mb-4"> <i class="fa fa-globe fa-3x"></i>  </p>
            <p class="text-uppercase">everyting</p>
        </a>
    </div>

</div>