<footer class="bgFooter ">
    <div class="row mx-0   ">

        <div class="col-lg-5   col-sm-12  px-0">
            <div class="centerElement py-5">
                <div class="py-5 ">
                    <span class="text-uppercase copyrightCenter ">Phone</span>
                    <h2 class="copyrightCenter">+1 877.991.7272</h2>
                </div>
                <div class="py-5">
                    <span class="text-uppercase copyrightCenter">Email</span>
                    <h2 class="text-uppercase copyrightCenter"> Info@elevio</h2>
                </div>
                <div class="py-5  ">
                    <span class="text-uppercase copyrightCenter">Follow us</span>
                    <div class="pt-5 d-flex   ">
                        <a> <i class="fa fa-twitter pr-5 fa-2x "></i></a>
                        <a> <i class="fa fa-youtube px-5 fa-2x"></i></a>
                        <a> <i class="fa fa-facebook-square pl-5 fa-2x"></i></a>
                        <a> <i class="fa fa-instagram px-5 fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="borderFooterTop  ">
                <div class="row mx-0 px-0 py-5 copyrightCenter">
                    <div class="col-lg-6  col-md-12 copyrightCenter">
                        <img style="filter: invert(1);" width="200"
                            src="http://images.ctfassets.net/kjynb98q5nft/1nsvsBWzIUqGCWOkKuiMAW/b52d6aa6979d303e90bdca545fbb0f40/evelo_logo.png" />
                    </div>
                    <div class="col-lg-6 col-md-12 ">
                        <span class="copyrightCenter"> © COPYRIGHT 2019 EVELO. ALL RIGHTS RESERVED</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-7  col-sm-12 borderFooterLeft px-0 ">
            <div class="p-5  centerElement">
                <div class="row p-5">
                    <div class="col-lg-4 col-sm-12">
                        <h5 class="text-uppercase"> Join our newsletter</h5>
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control newsLetter" placeholder="Your Email Adress"
                                aria-label="" aria-describedby="basic-addon1">
                            <div class="input-group-prepend ">
                                <button class="btn btn-outline-secondary newsLetter" type="button">⇀</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-5 borderFooterTop   ">
                <div class="row  p-5">
                    <div class="col-lg-6 col-sm-12 centerElement">
                        <h6 class="text-uppercase">ABOUT</h6>
                        <ul class="mx-0 px-0 pb-5 pt-2">
                            <li> <a> Our Story</a></li>
                            <li> <a>Blog</a></li>
                            <li> <a> Contact Us</a></li>
                            <li> <a> Privacy Policy</a></li>
                        </ul>

                        <h6 class="text-uppercase">SHOP</h6>
                        <ul class="mx-0 px-0 pt-2">
                            <li> <a>Order an EVELO</a></li>
                            <li> <a>Accessoires</a></li>
                            <li> <a> Special Offers</a></li>
                            <li> <a> Free Fit Consultation</a></li>
                            <li> <a> Open Box & Clearance Bikes</a></li>
                            <li> <a> EVELO vs.Others</a></li>
                            <li> <a> Find a Test Ride Location</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-sm-12 centerElement">
                        <h6 class="text-uppercase">COMMUNITY</h6>
                        <ul class="mx-0 px-0 pb-5 pt-2">
                            <li> <a> Become a Dealer</a></li>
                            <li> <a>Referral Program</a></li>
                            <li> <a>Buyer's Guide</a></li>
                            <li> <a> Electric Bike Tour</a></li>
                            <li> <a>E-Bile Friendly Shops</a></li>

                        </ul>
                        <h6 class="text-uppercase">SUPPORT</h6>
                        <ul class="mx-0 px-0 pt-2">
                            <li> <a> How Service Works</a></li>
                            <li> <a>Frequently Asked Questions</a></li>
                            <li> <a> Shipping information</a></li>
                            <li> <a> Easy Assembly</a></li>
                            <li> <a> Warranty Overview</a></li>
                            <li> <a> Easy Assembly</a></li>
                            <li> <a> Register Your Warranty</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>